<style>
.mobile-draw,
.mobile-draw .mfp-close {
    background-color: {{ settings.color_drawer_bg }};
}
.mobile-draw__localize {
    background-color: {{ settings.color_drawer_bg | color_darken: 5 }};   
}
</style>

<div class="mobile-draw mobile-draw--{{ settings.color_drawer_style }} js-menu-draw mfp-hide">

    {%- assign locale_selector = false -%}
    {%- assign currency_selector = false -%}
    {%- assign show_selectors = false -%}
    {%- assign both_selectors = false -%}

    {%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
        {%- assign locale_selector = true -%}
    {%- endif -%}

    {%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
        {%- assign currency_selector = true -%}
    {%- endif -%}

    {%- if currency_selector or locale_selector -%}
        {%- assign show_selectors = true -%}
    {%- endif -%}

    {%- if currency_selector and locale_selector -%}
        {%- assign both_selectors = true -%}
    {%- endif -%}

    {%- if show_selectors -%}
        <div class="mobile-draw__localize localize localize--always-center mobile-localize{% if both_selectors %} localize--double{% else %} localize--single{% endif %}">
            {%- form 'localization', class: 'localize__form' -%}

                {%- if locale_selector -%}
                    <div class="localize__item__wrapper js-localize-wrapper">

                        <h2 class="u-hidden-visually" id="lang-heading">
                          {{ 'general.language.dropdown_label' | t }}
                        </h2>

                        <button type="button" class="localize__toggle js-localize-trigger" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading">{{ form.current_locale.endonym_name }}<i class="icon icon--down"></i></button>

                        <ul id="lang-list" class="localize__items localize__items--lang js-localize-box o-list-bare">
                            {% for locale in form.available_locales %}
                                <li class="localize__item">
                                    <a class="localize__item__link js-localize-item{% if locale.iso_code == form.current_locale.iso_code %} selected{% endif %}" href="#" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}">{{ locale.endonym_name }}</a>
                                </li>
                            {%- endfor -%}
                        </ul>

                        <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
                    </div>
                {%- endif -%}

                {%- if currency_selector -%}
                    <div class="localize__item__wrapper js-localize-wrapper">
                        <h2 class="u-hidden-visually" id="currency-heading-footer">
                          {{ 'general.currency.dropdown_label' | t }}
                        </h2>

                        <button type="button" class="localize__toggle js-localize-trigger" aria-expanded="false" aria-controls="currency-list-footer" aria-describedby="currency-heading-footer">{{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}<i class="icon icon--down"></i></button>

                        <ul id="currency-list-footer" class="localize__items localize__items--currency js-localize-box o-list-bare">
                            {% for currency in form.available_currencies %}
                                <li class="localize__item">
                                    <a class="localize__item__link js-localize-item{% if currency == cart.currency %} selected{% endif %}" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}">{{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}</a>
                                </li>
                            {%- endfor -%}
                        </ul>

                        <input type="hidden" name="currency_code" id="CurrencySelector" value="{{ form.current_currency.iso_code }}" data-disclosure-input/>
                    </div>
                {%- endif -%}

            {%- endform -%}
        </div>
    {%- endif -%}

    <div class="mobile-draw__wrapper">    
      
      	{% if settings.search_enable %}
            <div class="mobile-draw__search mobile-search">
                <form action="{{ routes.search_url }}" method="get" class="mobile-search__form" role="search">
                    <input type="hidden" name="type" value="{{ settings.search_limit }}">
                    <input type="search" name="q" class="mobile-search__input" value="{{ search.terms | escape }}" aria-label="{{ 'general.search.placeholder' | t }}" placeholder="Search">
                    <button type="submit" class="mobile-search__submit">
                        <i class="icon icon--search" aria-hidden="true"></i>
                        <span class="icon-fallback__text">{{ 'general.search.submit' | t }}</span>
                    </button>
                </form>
            </div>
        {% endif %}
      
      	<div class="mobile-middle">
          
            {% if customer %}
              <li class="mobile-nav__item">
                <a href="{{ routes.account_url }}" class="mobile-nav__link">{{ 'layout.customer.account' | t }}</a>
              </li>
              <li class="mobile-nav__item">
                <a href="{{ routes.account_logout_url }}" class="mobile-nav__link">{{ 'layout.customer.log_out' | t }}</a>
              </li>
            {% else %}
              <li class="mobile-nav__item">
                <a href="{{ routes.account_login_url }}" class="mobile-nav__link">{{ 'layout.customer.log_in' | t }}</a>
              </li>
            {% endif %}
          
          <div class="country-wrapper">
            <p class="dropdown-title country-title">
              <span class="country-flag flag-32x32 flag-us"></span>
              <span class="country-list-locale-name">US/EN</span>
            </p>
            <ul class="country-list-container country-dropdown dropdown-link" id="country-group">            
              <li>
                <span class="country-value" data-value="https://ar.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-ar"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Argentina</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://au.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-au"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Australia</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://az.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-az"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Azərbaycan</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://bs.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-bs"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Bahamas</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://bb.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-bb"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Barbados</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://be.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-be"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Belgique</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://bm.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-bm"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Bermuda</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://bo.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-bo"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Bolivia</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://ba.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-ba"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Bosna i Hercegovina</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://br.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-br"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Brasil</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://ca.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-ca"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Canada</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://ky.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-ky"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Cayman Islands</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://cz.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-cz"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Česká republika</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://cl.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-cl"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Chile</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://co.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-co"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Colombia</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://cr.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-cr"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Costa Rica</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://me.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-me"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Crna Gora</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://dk.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-dk"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Danmark</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://de.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-de"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Deutschland</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://ec.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-ec"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Ecuador</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://ee.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-ee"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Eesti</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://es.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-es"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">España</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://fr.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-fr"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">France</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://gi.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-gi"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Gibraltar</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://gt.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-gt"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Guatemala</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://hk.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-hk"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Hong Kong SAR China</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://hr.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-hr"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Hrvatska</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://id.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-id"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Indonesia</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://ie.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-ie"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Ireland</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://is.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-is"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Ísland</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://it.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-it"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Italia</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://jm.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-jm"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Jamaica</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://ke.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-ke"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Kenya</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://lv.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-lv"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Latvija</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://li.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-li"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Liechtenstein</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://lt.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-lt"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Lietuva</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://lu.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-lu"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Luxembourg</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://hu.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-hu"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Magyarország</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://my.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-my"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Malaysia</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://mt.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-mt"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Malta</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://mx.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-mx"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">México</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://mz.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-mz"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Moçambique</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://nl.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-nl"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Nederland</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://nz.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-nz"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">New Zealand</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://ni.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-ni"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Nicaragua</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://ng.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-ng"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Nigeria</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://no.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-no"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Norge</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://at.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-at"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Österreich</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://pa.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-pa"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Panamá</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://pg.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-pg"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Papua New Guinea</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://pe.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-pe"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Perú</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://pl.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-pl"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Polska</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://pt.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-pt"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Portugal</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://do.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-do"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">República Dominicana</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://ro.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-ro"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">România</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://sm.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-sm"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">San Marino</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://ch.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-ch"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Schweiz</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://al.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-al"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Shqipëri</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://sg.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-sg"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Singapore</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://si.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-si"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Slovenija</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://sk.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-sk"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Slovensko</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://za.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-za"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">South Africa</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://fi.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-fi"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Suomi</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://se.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-se"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Sverige</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://tz.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-tz"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Tanzania</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://tt.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-tt"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Trinidad &amp; Tobago</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://gb.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-gb"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">United Kingdom</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-us"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">United States</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://uy.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-uy"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Uruguay</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://vn.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-vn"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Việt Nam</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://gr.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-gr"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Ελλάδα</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://cy.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-cy"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Κύπρος</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://by.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-by"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Беларусь</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://bg.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-bg"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">България</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://kz.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-kz"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Казахстан</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://mk.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-mk"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Македонија</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://mn.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-mn"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Монгол</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://ru.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-ru"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Россия</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://rs.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-rs"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Србија</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://ua.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-ua"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">Україна</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://ge.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-ge"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">საქართველო</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://il.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-il"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">ישראל</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://jo.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-jo"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">الأردن</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://ae.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-ae"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">الإمارات العربية المتحدة</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://bh.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-bh"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">البحرين</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://dz.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-dz"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">الجزائر</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://kw.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-kw"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">الكويت</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://ma.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-ma"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">المغرب</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://sa.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-sa"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">المملكة العربية السعودية</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://tn.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-tn"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">تونس</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://om.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-om"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">عُمان</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://qa.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-qa"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">قطر</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://eg.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-eg"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">مصر</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://in.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-in"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">भारत</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://th.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-th"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">ไทย</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://kh.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-kh"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">កម្ពុជា</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://kr.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-kr"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">대한민국</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://cn.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-cn"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">中華人民共和國</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://tw.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-tw"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">台灣</span>              
                  </div>
                </span>
              </li>
              <li>
                <span class="country-value" data-value="https://jp.zapskimboards.com" class="country-list-locale">
                  <span class="country-flag flag-32x32 flag-jp"></span>
                  <div class="country-list-locale-caption">
                    <span class="country-list-locale-name">日本</span>              
                  </div>
                </span>
              </li>
            </ul>
          </div>
      	</div>

        <nav class="mobile-draw__nav mobile-nav">
            <ul class="mobile-nav__items o-list-bare">

                {% for link in linklists[section.settings.main_linklist].links %}
                    {% capture parentIndex %}{{ forloop.index }}{% endcapture %}
                    <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}{% if link.links != blank %} mobile-nav__item--sub{% endif %}"{% if link.links != blank %} aria-has-popup="true" aria-expanded="false" aria-controls="mobile-sub-{{ forloop.index }}"{% endif %}>
                        <a href="{% if link.links != blank %}#mobile-sub-{{ forloop.index }}{% else %}{{ link.url }}{% endif %}" class="mobile-nav__link{% if link.links != blank %} mobile-nav__link--sub js-toggle-trigger{% endif %}">{{ link.title }}</a>

                        {% if link.links != blank %}
                            <div class="mobile-nav__sub js-toggle-target" id="mobile-sub-{{ forloop.index }}">
                                <ul class="mobile-nav__sub__items o-list-bare">
                                    
                                    {% for sub_link in link.links %}
                                        <li class="mobile-nav__sub__item{% if sub_link.active %} mobile-nav__sub__item--active{% endif %}{% if sub_link.links != blank %} mobile-nav__sub__item--sub{% endif %}"{% if link.links != blank %} aria-has-popup="true" aria-expanded="false" aria-controls="mobile-sub-t-{{ parentIndex }}-{{ forloop.index }}"{% endif %}>
                                            <a href="{% if sub_link.links != blank %}#mobile-sub-t-{{ parentIndex }}-{{ forloop.index }}{% else %}{{ sub_link.url }}{% endif %}" class="mobile-nav__sub__link{% if sub_link.links != blank %} mobile-nav__sub__link--t js-toggle-trigger{% endif %}">{{ sub_link.title | escape }}</a>

                                            {% if sub_link.links != blank %}
                                                <div class="mobile-nav__sub-t js-toggle-target" id="mobile-sub-t-{{ parentIndex }}-{{ forloop.index }}">
                                                    <ul class="mobile-nav__sub-t__items o-list-bare">
                                                        
                                                        {% for sub_sub_link in sub_link.links %}
                                                            <li class="mobile-nav__sub-t__item{% if sub_sub_link.active %} mobile-nav__sub-t__item--active{% endif %}">
                                                                <a href="{{ sub_sub_link.url }}" class="mobile-nav__sub-t__link">{{ sub_sub_link.title | escape }}</a>
                                                            </li>
                                                        {% endfor %}

                                                    </ul>
                                                </div>
                                            {% endif %}

                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
              <li class="mobile-nav__item mobile-nav__item--sub" aria-has-popup="true" aria-expanded="false" aria-controls="mobile-sub-6">                
                <a href="#mobile-sub-6" class="mobile-nav__link mobile-nav__link--sub js-toggle-trigger">FIND A DEALER</a>
                <div class="mobile-nav__sub js-toggle-target" id="mobile-sub-6">
                  <ul class="mobile-nav__sub__items o-list-bare">
                    <li class="mobile-nav__sub__item">
                      <a href="/pages/store-locator" class="mobile-nav__sub__link">Store Locator</a>
                    </li>

                    <li class="mobile-nav__sub__item">
                      <a href="/pages/shop-online" class="mobile-nav__sub__link">Shop Online</a>
                    </li>

                  </ul>
                </div>
              </li>
              <li class="mobile-nav__item">
                <a href="/blogs/the-zap-skimboards-blog" class="mobile-nav__link">BLOG</a>
              </li>
              <li class="mobile-nav__item">
                <a href="/" class="mobile-nav__link">TEAM</a>
              </li>

              {% comment %}
                {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                        <li class="mobile-nav__item">
                            <a href="{{ routes.account_url }}" class="mobile-nav__link">{{ 'layout.customer.account' | t }}</a>
                        </li>
                        <li class="mobile-nav__item">
                            <a href="{{ routes.account_logout_url }}" class="mobile-nav__link">{{ 'layout.customer.log_out' | t }}</a>
                        </li>
                    {% else %}
                        <li class="mobile-nav__item">
                            <a href="{{ routes.account_login_url }}" class="mobile-nav__link">{{ 'layout.customer.log_in' | t }}</a>
                        </li>
                    {% endif %}
                {% endif %}
              {% endcomment %}
            </ul>
        </nav>

        <div class="mobile-draw__footer mobile-footer">
            {% if section.settings.show_contact_number or section.settings.show_contact_email %}
                <div class="mobile-footer__contact">
                    {% unless section.settings.contact_title == blank %}
                        <h4 class="mobile-footer__title">{{ section.settings.contact_title | escape }}</h4>
                    {% endunless %}
                    {% if section.settings.show_contact_number %}
                        <p class="mobile-footer__text"><a href="tel:{{ shop.address.phone }}" class="mobile-footer__text-link">{{ shop.address.phone }}</a></p>
                    {% endif %}    
                    {% if section.settings.show_contact_email %}
                        <p class="mobile-footer__text"><a href="mailto:{{ shop.email }}" class="mobile-footer__text-link">{{ shop.email }}</a></p>
                    {% endif %}
                </div>
            {% endif %}
            {% if section.settings.show_social %}
                <ul class="mobile-footer__social-items o-list-bare">
                    {% unless settings.social_facebook_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_facebook_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--facebook" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Facebook</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_twitter_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_twitter_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--twitter" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Twitter</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_pinterest_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_pinterest_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--pinterest" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Pinterest</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_instagram_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_instagram_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--instagram" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Instagram</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_tumblr_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_tumblr_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--tumblr" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Tumblr</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_snapchat_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_snapchat_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--snapchat" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Snapchat</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_youtube_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_youtube_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--youtube" aria-hidden="true"></i>
                                <span class="icon-fallback__text">YouTube</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_vimeo_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_vimeo_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--vimeo" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Vimeo</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_fancy_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_fancy_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--fancy" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Fancy</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_untappd_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_untappd_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--untappd" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Untappd</span>
                            </a>
                        </li>
                    {% endunless %}
                </ul>
            {% endif %}
        </div>

        {% if section.settings.cta_image or section.settings.cta_title != blank or section.settings.cta_text != blank or section.settings.cta_link != blank %}
            <div class="mobile-draw__cta mobile-cta">
                {% unless section.settings.cta_image_link == blank %}
                <a href="{{ section.settings.cta_image_link }}" class="mobile-cta__image-link">
                {% endunless %}
                    {% if section.settings.cta_image %}
                        {%- assign img_url = section.settings.cta_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <img class="mobile-cta__image lazyload"
                            src="{{ section.settings.cta_image | img_url: '300x' }}" 
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 720, 900]"
                            data-sizes="auto"
                            alt="{{ section.settings.cta_image.alt }}">
                    {% endif %}
                {% unless section.settings.cta_image_link == blank %}
                </a>
                {% endunless %}
                {% unless section.settings.cta_title == blank %}
                    <h4 class="mobile-cta__title h5">{{ section.settings.cta_title  | escape }}</h4>
                {% endunless %}
                {% unless section.settings.cta_text == blank %}
                    <div class="mobile-cta__text rte">
                        {{ section.settings.cta_text }}
                    </div>
                {% endunless %}
                {% unless section.settings.cta_link == blank %}
                    <div class="mobile-cta__link">
                        <a href="{{ section.settings.cta_link }}" class="link link--arrow">{{ section.settings.cta_link_title | escape }}</a>
                    </div>
                {% endunless %}
            </div>
        {% endif %}
    
    </div>
</div>

{% schema %}
{
    "name": "Sidebar menu",
    "class": "js-section__mobile-draw",
    "settings": [
        {
            "type": "link_list",
            "id": "main_linklist",
            "label": "Menu",
            "default": "main-menu"
        },
        {
            "type": "header",
            "content": "Contact info",
            "info": "Edit content in shop settings 'General'."
        },
        {
            "type": "text",
            "id": "contact_title",
            "label": "Heading",
            "default": "Contact"
        },
        {
            "type": "checkbox",
            "id": "show_contact_number",
            "label": "Show phone number",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_contact_email",
            "label": "Show email",
            "default": true
        },
        {
            "type": "header",
            "content": "Language Selector",
            "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
        },
        {
            "type": "checkbox",
            "id": "show_locale_selector",
            "label": "Show language selector",
            "default": true
        },
        {
            "type": "header",
            "content": "Currency Selector",
            "info": "To add a currency, go to your [currency settings.](/admin/settings/payments)"
        },
        {
            "type": "checkbox",
            "id": "show_currency_selector",
            "label": "Show currency selector",
            "default": true
        },
        {
            "type": "header",
            "content": "Social links",
            "info": "Edit content in theme 'Theme settings > Social'."
        },
        {
            "type": "checkbox",
            "id": "show_social",
            "label": "Show social links",
            "default": true
        },
        {
            "type": "header",
            "content": "Image"
        },
        {
            "type": "image_picker",
            "id": "cta_image",
            "label": "Image",
            "info": "600px width recommended."
        },
        {
            "type": "url",
            "id": "cta_image_link",
            "label": "Image link"
        },
        {
            "type": "text",
            "id": "cta_title",
            "label": "Heading"
        },
        { 
            "type": "richtext",
            "id": "cta_text",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "cta_link_title",
            "label": "Link label",
            "default": "Learn more"
        },
        {
            "type": "url",
            "id": "cta_link",
            "label": "Link"
        }
    ]
}
{% endschema %}